.adventure-area {
    height: 100%;
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.adventure-canvas {
    display: block;
}